body {
    font-family: Arial;
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input {
    padding: 8px;
    width: 70%;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}

li {
    list-style: none;
    margin: 10px 0;
    font-size: 18px;
}

a {
    margin-left: 10px;
    text-decoration: none;
}